/modeling/data
/docs
modeling/__pycache__
bragg/__pycache__/bragg.cpython-310.pyc
common_functions/__pycache__
reflectivity_analisys/__pycache__/graphics_optical_mechanical_identification.cpython-310.pyc
fbg_production/Laser_caracterization_LabVIEW_v20/Laser caracterization.aliases
fbg_production/Laser_caracterization_LabVIEW_v20/Laser caracterization.lvlps
fbg_production/Laser_caracterization_LabVIEW_v20/Laser caracterization.lvproj
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Average Average.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Average On Off.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Center Auto Pkc.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Center Center.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Center Peak.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Data Format Select Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Data Separator Select Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Device Buzzer.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Halfwidth Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Header Out Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Measure.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Mode Resolution.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Peakserch Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Ref Level Auto.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Ref Level Laser Led.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Ref Level Ref Lebel.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Span Auto.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Span Span.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Spectral Width Spec Width.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 SRQ Signal Control 1 Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 SRQ Signal Control 1.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 SRQ Signal Control 2 Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 SRQ Signal Control 2.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Wavelike Data_backslash_n.vi
fbg_production/Laser_caracterization_LabVIEW_v20/AVQ8347_lib/AVQ8347 Wavelike Data.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Config Spectrometer.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/End Configuration.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/End Sound.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/hora min seg.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Read Spectrum Continuously.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Read Spectrum.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/save_metadata.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Spectrum file name.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Start Configuration.vi
fbg_production/Laser_caracterization_LabVIEW_v20/VIs/Wait for spectrometer.vi
fbg_production/Laser_caracterization_LabVIEW_v20/data/data0.lvm
fbg_production/Laser_caracterization_LabVIEW_v20/data/data1.lvm
.vscode/ipython/command.py
aquisitions/acquisition_anritsu.py
aquisitions/advantest_Q8347.py
aquisitions/optical_mechanical_identification.py
aquisitions/simple_gui_test.py
aquisitions/dataTemp/fbg_1_dehydrogenated.png
aquisitions/dataTemp/fbg_1_dehydrogenated.txt
aquisitions/dataTemp/fbg_2.png
aquisitions/dataTemp/fbg_2.txt
aquisitions/dataTemp/graphic_dehidrogenation.py
aquisitions/dataTemp/source_dehydrogenated.png
aquisitions/dataTemp/source_dehydrogenated.txt
aquisitions/dataTemp/source.png
aquisitions/dataTemp/source.txt
aquisitions/dataTemp/interrogation_test_20230918/fbg_1.png
aquisitions/dataTemp/interrogation_test_20230918/fbg_1.txt
aquisitions/dataTemp/interrogation_test_20230918/fbg_2.png
aquisitions/dataTemp/interrogation_test_20230918/fbg_2.txt
teste.py
teste.jl
test_data
temp.hdf5
modeling/modeling_fast_test.py
lvm_read
test.hdf5
h5py
aquisitions/__pycache__/Q8347.cpython-310.pyc
fbg_production/20231009.pdf
fbg_production/20231010.pdf
modeling/__pycache__/common_functions.cpython-310.pyc
modeling/__pycache__/mathModelAccel.cpython-310.pyc
modeling/__pycache__/modeling.cpython-310.pyc
*hdf5
*.pyc
production_files.hdf5
fbg_production/fig_production_figs/*
production_files.hdf5
fbg_production/20231030.pdf
.gitignore
fbg_production/20231031.pdf
.vscode/settings.json
modeling/__pycache__/common_functions.cpython-310.pyc
modeling/__pycache__/mathModelAccel.cpython-310.pyc
modeling/__pycache__/modeling.cpython-310.pyc
modeling/__pycache__/graphics.cpython-310.pyc
modeling/__pycache__/mathModelAccel.cpython-310.pyc
fbg_production/fig_production_figs/20231130/fbg1.png
fbg_production/fig_production_figs/20231130/fbg2.png
fbg_production/fig_production_figs/20231130/fbg3.png
fbg_production/fig_production_figs/20231130/fbg4.png
fbg_production/fig_production_figs/20231130/fbg5.png
fbg_production/fig_production_figs/20231130/fbg6.png
fbg_production/fig_production_figs/20231130/fbg7.png
fbg_production/fig_production_figs/20231130/fbg8.png
fbg_production/fig_production_figs/20231130/fbg9.png
fbg_production/fig_production_figs/20231130/fbg10.png
fbg_production/fig_production_figs/20231130/fbg11.png
fbg_production/fig_production_figs/20231130/fbg12.png
fbg_production/fig_production_figs/20231130/fbg13.png
fbg_production/fig_production_figs/20231130/fbg14.png
fbg_production/*.pdf
firmware-acc.tar.xz
accel_v1.tar.xz
fbg_production/20240207.png
fbg_production/20240328.png
phd_data.hdf5
production_files.hdf5
modeling/data.tar.xz
.venv/