alabaster
AllanTools
asttokens
babel
blosc2
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
dill
docutils
executing
flexcache
flexparser
fonttools
h5py
idna
imagesize
iniconfig
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
jupyterlab_widgets
kiwisolver
lvm_read
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
natsort
ndindex
numexpr
numpy
numpy-typing-compat
numpydoc
optype
packaging
pandas
parso
pexpect
pillow
Pint
platformdirs
pluggy
prompt_toolkit
ptyprocess
pure_eval
py-cpuinfo
Pygments
PyMeasure
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
pyserial
pytest
python-dateutil
pytz
PyVISA
regex
requests
roman-numerals-py
scipy
scipy-stubs
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
sympy
tables
tol_colors
tqdm
traitlets
typing_extensions
tzdata
uncertainties
urllib3
wcwidth
widgetsnbextension
